.search-input,
.search-select {
  font-family: Tahoma;
  padding-left: 10px;
  padding-right: 10px;
  height: 58px;
  border: 1px solid #005E8A;
  border-radius: 4px;
  box-shadow: 0 5px 15px rgba(45, 67, 115, 0.5);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  display: inline-block; /* Add this line to display the elements in one line */
  vertical-align: middle; /* Add this line to vertically align the elements */
}

.search-select {
  padding-bottom: 5px;
  padding-top: 5px;
  font-size: 18px;
  width: 150px;
}

.search-input {
  font-size: 20px;
  width: 300px;
}

.search-input:focus,
.search-select:focus {
  outline: none;
  background: #e6f7ff;
}

.search-select option {
  background-color: white;
}

.search-button {
  font-family: Tahoma;
  width: 100px;
  height: 60px;
  font-size: 20px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #2d4373;
  color: #fff;
  border: none;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 15px rgba(45, 67, 115, 0.5);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.search-input:hover,
.search-select:hover,
.search-button:hover {
  box-shadow: 0 10px 20px rgba(45, 67, 115, 0.5);
}

.search-button:hover {
  background-color: #1e2d4d;
}

.search-button:active {
  background-color: #2d4373;
}

#resultsTable {
  position: fixed;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 120px;
  margin-bottom: 500px;
  width: 90%;
  height: 55vh;
  overflow: auto;
  padding: 20px;
}

.topnav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  z-index: 9999;
}

.search-form {
  position: absolute;
  padding-top: 40px;
  width: 100%;
  z-index: 9999;
}

.fixed-bottom {
  height: 2vh;
  position: fixed;
  z-index: 9999;
  bottom: 0px;
}
