/* Button hover effect */
.button-image:hover {
opacity: 0.95;
transform: scale(0.98);
transition: all 0.3s ease-in-out;
cursor: pointer;
}

main {
margin-top: 30px;
}

/* Top bar menu */

*  {
  margin: 0;
  padding: 0;
}

.topnav {
padding: 10px;
text-align: center;
height: 60px;
width: 100%;
z-index: 0;
top: 0;
right: 0;
background-color: #005E8A;
box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* Navigation menu links */
.topnav h3 {
font-size: 24px;
font-weight: 600;
text-transform: uppercase;
letter-spacing: 2px;
margin: 0;
padding: 0 20px;
line-height: 60px;
display: inline-block;
transition: all 0.2s ease-in-out;
background-color: #fff;
color: #005E8A;
border-radius: 5px;
}

/* Default link style for top bar */
.topnav a {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  padding: 10px 20px;
}

/* Hover and active link style for top bar */
.topnav a:hover,
.topnav a:active,
.topnav h3.current {
  color: #73FBFD;
  background-color: #C0C0C0;
}


/* Content on the left side */
.left_item {
left: 50px;
float: left;
top: 5px;
position: absolute;
}

/* Button style */
a:link.butt, a:visited.butt {
padding: 10px;
text-align: center;
border-radius: 5px;
text-decoration: none;
display: inline-block;
background-color: #fff;
color: black;
font-weight: bold;
}

a:hover.butt, a:active.butt {
  color: #73FBFD;
  background-color: #C0C0C0;
}

/* Centered red button style */
a:link.center_butt, a:visited.center_butt {
border-radius: 10px;
background-color: #f44336;
color: white;
padding: 15px 25px;
text-align: center;
text-decoration: none;
display: inline-block;
}

a:hover.center_butt, a:active.center_butt {
  background-color: red;
}

body {
  font-family: Tahoma;
  max-width: 100%;
  overflow-x: hidden;
}

/* הגדרת הודעה קופצת */
.alert {
  border-radius: 10px;
  background-color: #FFEDC0;
  max-width: 450px; /* Adjust the maximum width as needed */
  margin: 0 auto;
  color: #333;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  position: relative; /* Add relative positioning for close button */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.close-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.closebtn {
  color: #FF4D00;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: #0077B6;
}

.content {
  margin: 10px;
}

.promo-text {
  color: #FF4D00;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.description {
  font-size: 16px;
  margin-top: 5px; /* Add space between the title and description */
  margin-bottom: 20px;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0077B6;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #005E8A;
}

/* Responsive top bar for smaller screens */
@media screen and (max-width: 767px) {
.topnav {
height: auto;
padding: 10px 0;
position: static;
overflow: hidden;
}

.topnav img {
position: static;
margin: 0 auto;
}

img.button-image {
  max-width: 100%;
  height: auto;
}

.topnav h3 {
font-size: 20px;
padding: 10px 0;
display: block;
}

.topnav a {
display: block;
float: none;
text-align: center;
padding: 10px;
}

.topnav a:hover,
.topnav a:active,
.topnav h3.current {
color: #005E8A;
}

/* Content on the left side */
.topnav .left_item {
left: auto;
right: auto;
float: center;
position: static;
}
  
  /* Adjust the size and position of the iframe */
div[style="width:100%; float:center; height:100%; margin:30px; position: fixed;"] {
    margin: 0;
    height: calc(100% - 56px); /* Subtract the height of the top navigation menu */
  }
}


.fixed-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20vh;
    background-color: #FFF5A6;
    padding: 30px;
    text-align: center;
  }


/* הגדרת עיצוב פס גלילה */
  
  ::-webkit-scrollbar {
    width: 8px;
  }


  ::-webkit-scrollbar-thumb {
    background-color:  #0077b3;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color:  #005580;
  }
  


/* הגדרת הקו המהבהב */
.search-input {
  caret-color: #2d4373;
}

.search-input::-webkit-caret {
  border-width: 2px;
}

.search-input::-moz-caret {
  border-width: 2px;
}

.search-input::caret {
  border-width: 2px;
}

.search-input::-webkit-caret {
  border-style: solid;
  border-color: #2d4373;
}

.search-input::-moz-caret {
  border-style: solid;
  border-color: #2d4373;
}

.search-input::caret {
  border-style: solid;
  border-color: #2d4373;
}


.about-program {
  padding: 30px;
  width: 40%;
  text-align: center;
}


.about-program h3 {
  margin-bottom: 10px;	
}


.about-program p {
  margin-bottom: 30px;	
}


/* CSS for the animated effect */
.scale-div {
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.scale-div.active {
  opacity: 1;
  transform: scale(1);
}



/* אפקטים של זוהר עבור כפתור הקישור */
@keyframes shimmer {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}

/* Apply styles to your button */
.butt {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  background: linear-gradient(90deg, #E0E0BD 25%, #FEFFD7 50%, #E0E0BD 75%);
  background-size: 200% 100%;
  text-decoration: none;
  animation: shimmer 2s infinite; /* Apply the shimmer animation */
  transition: background-position 0.5s ease; /* Smooth transition for the background */
}

