<header class="topnav">
  <div class="topnav-content">
    <a class="left_item" href="https://nhlocal.github.io/" title="לשאר התוכנות של היוצר">
      <img src="{{ '/assets/images/NH.LOCAL.jpg' | relative_url }}" alt="הסמל של המחבר">
    </a>
    <nav class="nav-links">
      <a href="{{ '/' | relative_url }}" {% if page.url == '/' %}class="active"{% endif %}>עמוד ראשי</a>
      <a href="{{ '/site/help' | relative_url }}" {% if page.url == '/site/help.html' %}class="active"{% endif %}>קבל עזרה</a>
      <a href="{{ '/site/Survey' | relative_url }}" {% if page.url == '/site/Survey.html' %}class="active highlight"{% endif %}><b>מילוי משוב</b></a>
      <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&source=mailto&to=mesader.singelim%40gmail.com" target="_blank">צור קשר</a>
    </nav>
  </div>
</header>