<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title | default: site.title }}</title>
  <meta name="description" content="{{ page.description | default: site.description }}">
  {% if page.keywords %}
  <meta name="keywords" content="{{ page.keywords }}">
  {% endif %}
  <link rel="canonical" href="{{ page.canonical_url | default: page.url | absolute_url }}" />
  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
  <link rel="icon" type="image/x-icon" href="{{ '/assets/favicon.ico' | relative_url }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <script src="https://nhlocal.github.io/general-settings.js"></script>
  
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-TGD4VQW4X8"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
   
    gtag('config', 'G-TGD4VQW4X8');
  </script>
</head>
<body style="{{ page.body_style }}">

  {% include header.html %}

  {{ content }}

</body>
</html>